.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.sentbycloud img {
    width: 287px;
    height: 161px;
}

.lettercloud img {
    width: 324px;
    height: 272px;
}

.memory-text img {
    width: 266px;
    height: 36px;
}

.loginbtn img {
    padding-top: 10px;
    width: 349px;
    height: 64px;
}