body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Yrsa";
  src: url("./components/utils/Yrsa-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: 'Yrsa', sans-serif;
}