* {
  margin: 0;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/img/main/background.png");
  background-size: cover;
  /* 화면을 완전히 채우도록 설정 */
  background-repeat: repeat-y;
  background-position: center;
  /* overflow: hidden; */

  /* z-index: -1; */
}

@font-face {
  font-family: "Yrsa";
  src: url("./components/utils/Yrsa-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: "Yrsa", sans-serif;
}
