.body-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.top-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: left;
  width: 100vw;
  height: 8vh;
  top: 50px;
  justify-content: space-around;
  overflow: hidden;
}

.status {
  padding-left: 20px;
  font-weight: bold;
  font-size: larger;
}

.message-count {
  padding-left: 20px;
}

.navbar img {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.middle-container {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.noclouds {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.noclouds-message {
  font-weight: bold;
}

.copylink_btn {
  position: absolute;
  bottom: 12%;
  /* 바닥으로부터 12% 위에 고정 */
  left: 50%;
  transform: translateX(-50%);
  /* 가운데 정렬을 위해 */
  border: none;
  padding: 10px 20px;
  width: 274px;
  height: 57px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* 전환 효과 */
}

.footer {
  background-color: #2F2F2F;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  width: 100vw;
  height: 9vh;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.copyright {
  font-size: 1ch;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.introduce {
  display: flex;
  align-items: center;
  font-size: 1ch;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}